<div class="row mb-3">
    <div class="col-12 form-inline">
        <select class="form-control">
            <option>- Statut -</option>
            <option>Demandes</option>
            <option>Futurs</option>
            <option>Passées</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Senior</th>
                <th>Adresse</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each interventions}}
                <tr>
                    <td><a href="">{{id}}</a></td>
                    <td>{{date}}</td>
                    <td>{{senior}}</td>
                    <td>{{adresse}}</td>
                    <td><a href="#" title="Envoyer un email"><i class="fas fa-envelope"></i></a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>