<div class="mt-3 px-3">


    <div class="card-text-black my-5">
        <h2>
            <p>Les Juniors au service des Seniors pour les accompagner dans ce nouveau monde de la digitalisation : informatique, téléphonie, télévision, robotisation, programmation, services en ligne.</p>
            <p>Generation Connect vous propose un service basé sur le relationnel et la sécurité : des agents juniors formés aux compétences sociales et des interventions sécurisées et suivies.</p>
        </h2>
    </div>

    <h1 class="text-size"><b>Nos services</b></h1>
    <hr/>
    <div class="row my-4">
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4 " style="max-width: 18rem;">
            <div class="card-header bg-orange "><b class="mx-auto">Installations</b></div>
            <div class="card-body bg-orange-trans">
                <ul class="mx-auto">
                    <li>Télévision digitale</li>
                    <li>Téléphonie digitale</li>
                    <li>Connexion Internet</li>
                    <li>Radio</li>
                    <li>PC)</li>
                    <li>Smartphones & leurs applications</li>
                    <li>Robot ménagers</li>
                    <li>Installations de sécurité)</li>
                </ul>
            </div>
        </div>
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4 " style="max-width: 18rem;">
            <div class="card-header bg-gris "><b>Mises à jour</b></div>
            <div class="card-body bg-gris-trans ">
                <ul class="mx-auto">
                    <li>Télévision digitale</li>
                    <li>Téléphonie digitale</li>
                    <li>Connexion Internet</li>
                    <li>Radio</li>
                    <li>PC)</li>
                    <li>Smartphones & leurs applications</li>
                    <li>Robot ménagers</li>
                    <li>Installations de sécurité)</li>
                </ul>
            </div>
        </div>
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4 " style="max-width: 18rem;">
            <div class="card-header bg-jaune"><b>Utilisation</b></div>
            <div class="card-body bg-jaune-trans">
                <ul class="mx-auto">
                    <li>Communication par l’image</li>
                    <li>Messagerie : envoyer un document, photos</li>
                    <li>Services en ligne : faire avec, créer les comptes, mettre en place et former</li>
                    <li>Créer un album photo ou imprimer des jeux ou autres activités, imprimer des photos, etc.</li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="text-size"><b>Nos prestations</b></h1>
    <hr/>
    <div class="row mt-4">
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4  card-noborder" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="images/icone_tel.png" alt="image hotline">
            <div class="card-body">
                <h5 class="card-title card-text-black">Hotline</h5>
                <p class="card-text card-text-black">Hotline pour nos seniors avec une assistance suivie, nécessaire, d'une visite à domicile dans les 48h.</p>
            </div>
        </div>
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4  card-noborder" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="images/icone_maison.png" alt="image visite maison">
            <div class="card-body">
                <h5 class="card-title card-text-black">Visites à domicile</h5>
                <p class="card-text card-text-black">Selon le programme de cotisation sélectionné, des visites régulières sont effectuées pas nos agents.</p>
            </div>
        </div>
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4  card-noborder" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="images/icone_tools.png" alt="image prestations spécialisées">
            <div class="card-body">
                <h5 class="card-title card-text-black">Prestations spécialisées</h5>
                <p class="card-text card-text-black">Grâce à nos nombreux partenaires, vous profiterez d'un réseau de prestataires de services spécialisés à des tarifs avantageux.</p>
            </div>
        </div>
    </div>

    <h1 class="text-size"><b>Nos agents</b></h1>
    <hr/>
    <div class="my-4 d-inline-block">
            <div class=media">
            <img class="mr-3 img-left" src="images/nosagents.jpg" alt="image nos agents
            <div class="media-body mx-auto">
                <h2 class="py-3">Nos agents sont triés sur le volet</h2>
                <p>Nous sélectionnons nos collaborateurs afin qu’ils aient toutes les compétences tant informatiques que sociales.</p>
                <p>Les spécialistes de Di Marino Consulting ont créé une formation spécifique pour donner à nos agents les meilleurs outils.</p>
                <p>Dans les 48h suivant leur appel, l’un de nos agents sera chez notre cotisant.</p>
            </div>
        </div>
    </div>

 </div>