<div class="mt-3 px-3">

    <h1 class="text-size"><b>Profil attendu et compétences</b></h1>
    <hr/>
    <p>Vous êtes étudiants ou apprentis et vous avez : </p>
    <div class="row mt-4">
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4  card-noborder" style="width: 18rem;">
            <img class="card-img-top  mx-auto" src="images/icone_tech.png" alt="image technologies">
            <div class="card-body">
                <p class="card-text card-text-black">Des connaissances et des compétences en technologie.</p>
            </div>
        </div>
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4  card-noborder" style="width: 18rem;">
            <img class="card-img-top  mx-auto" src="images/icone_transmission.png" alt="image transmettre le savoir">
            <div class="card-body">
                <p class="card-text card-text-black ">Le souhait de transmettre votre savoir aux Seniors et de le mettre au service des personnes qui en  ont besoin.</p>
            </div>
        </div>
        <div class="card col-sm-12 col-lg-auto text-white p-0  mx-auto my-4  card-noborder" style="width: 18rem;">
            <img class="card-img-top mx-auto" src="images/icone_cal.png" alt="image disponibilitées">
            <div class="card-body ">
                <p class="card-text card-text-black">Des disponibilités en dehors de votre formation.</p>
            </div>
        </div>
    </div>

    <h1 class="text-size"><b>Formations</b></h1>
    <hr/>
    <div class="my-4">
        <p>Les spécialistes de Di Marino Consulting ont créé une formation spécifique pour donner à nos agents les meilleurs outils. La formation s’articule en 2 jours : </p>
        <ul>
            <li><h3>Premier jour :</h3> Formation aux compétences sociales</li>
            <li><h3>Deuxième jour :</h3> Formation aux services « Les Juniors au service des Seniors »</li>
        </ul>
    </div>

    <h1 class="text-size"><b>Conditions de recrutement</b></h1>
    <hr/>
    <div class="my-4">
        <ul>
            <li>Etre majeur et casier judiciaire vierge.</li>
            <li>Connaissances et compétences sur les services proposés par Generation Connect.</li>
            <li>Intérêt dans le social et dans le partage auprès d’autres générations.</li>
        </ul>
    </div>

    <span data-target="postuler" class="btn w-100 mb-3">Je postule!</span>

</div>