<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each products}}
        <tr>
            <td>{{name}}</td>
            <td>{{brand}}</td>
            <td>{{type}}</td>
            <td>{{price}}</td>
            <td><button type="button" class="btn btn-primary removeFromCart" title="Remove from cart" data-id="{{id}}">x</button></td>
        </tr>
    {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">TOTAL</td>
            <td colspan="2">{{total}}</td>
        </tr>
    </tfoot>
</table>