{% extends "base.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('adm-dashboard') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item"><a href="{{ path('adm-seniors') }}">Seniors</a></li>
    <li class="breadcrumb-item active" aria-current="page">Prénom Nom</li>
{% endblock %}

{% block content %}

    <h1>Fiche du senior</h1>

    <ul>
        <li>Photo</li>
        <li>Adresse</li>
        <li>Disponibilité</li>
        <li>Prestations en cours de traitement</li>
        <li>Prestations archivées</li>
        <li>Champ libre commentaires</li>
    </ul>

{% endblock %}