{% extends "base.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('jun-dashboard') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item"><a href="{{ path('jun-interventions') }}">Mes interventions</a></li>
    <li class="breadcrumb-item active" aria-current="page">Intervention</li>
{% endblock %}

{% block content %}

    <p>En fonction du statut de la prestation</p>
    <ul>
        <li>Date | Heure</li>
        <li>Actions (accepter, etc.)</li>
        <li>Nom, prénom, adresse du Senior</li>
        <li>Description</li>
        <li>Evaluation par smiley de la prestation</li>
        <li>Rapport d'intervention</li>
    </ul>

{% endblock %}