<form class="form-inline mb-3">
    <a class="btn" href="#admin/formations/new">Nouvelle formation</a>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Heure</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each formations}}
        <tr>
            <td>{{nom}}</td>
            <td>{{plage_horaire.plage_unique.date}}</td>
            <td>{{plage_horaire.heuredebut}}</td>
            <td class="text-right">
                <a href="#admin/formations/{{id}}" class="btn" title="Voir le détail"><i class="fas fa-eye"></i> Voir</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
