<div class="row">
    <div class="col-12">

        <h2>Vos demandes en cours de traitement</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Sujet</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="">36457</a></td>
                <td>Aide pour installer routeur Swisscom</td>
            </tr>
            </tbody>
        </table>

        <h2>Prochaines visites</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Junior</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">36457</a></td>
                <td>24.03.2018</td>
                <td>14:00 - 16:00</td>
                <td>Jeanne Barblan</td>
            </tr>
            <tr>
                <td><a href="#">36457</a></td>
                <td>24.03.2018</td>
                <td>14:00 - 16:00</td>
                <td>Jeanne Barblan</td>
            </tr>
            </tbody>
        </table>

        <h2>Anciennes visites</h2>
        <p>Vous pouvez évaluer vos visites passées</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Junior</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">36457</a></td>
                <td>24.03.2018</td>
                <td>14:00 - 16:00</td>
                <td>Jeanne Barblan</td>
            </tr>
            <tr>
                <td><a href="#">36457</a></td>
                <td>24.03.2018</td>
                <td>14:00 - 16:00</td>
                <td>Jeanne Barblan</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>