<a href="" class="btn mb-2">Nouvelle demande</a>

<div class="row mb-3">
    <div class="col-12 form-inline">
        <select class="form-control">
            <option>- Statut -</option>
            <option>En traitement</option>
            <option>Confirmé</option>
            <option>Effectué</option>
            <option>Archivé</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Heure</th>
                <th>N° S</th>
                <th>Senior</th>
                <th>N° J</th>
                <th>Junior</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="">28374</a></td>
                <td>-</td>
                <td>-</td>
                <td>37332</td>
                <td>Emilie Richard</td>
                <td>-</td>
                <td>-</td>
                <td>En traitement</td>
            </tr>
            <tr>
                <td><a href="">28374</a></td>
                <td>13.06.2018</td>
                <td>14:00-16:00</td>
                <td>37332</td>
                <td>Linne Franche</td>
                <td>36452</td>
                <td>Arnaud Dupont</td>
                <td>Confirmé</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
