@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Tajawal');

$grey: rgb(165, 165, 165);
$orange: rgb(237, 125, 49);
$yellow: rgb(255, 192, 0);

$grey-trans: rgba(165, 165, 165, 0.2);
$orange-trans: rgba(237, 125, 49, 0.2);
$yellow-trans: rgba(255, 192, 0, 0.2);

.btn {
  background-color: $yellow !important;
  color: black !important;
  font-variant: small-caps;
  font-weight: bold;
}

[data-target] {
  cursor: pointer;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

.table [data-target], a {
  color: $orange;
  text-decoration: none;
}

.table [data-target]:hover, a:hover {
  color: $orange;
  text-decoration: underline;
}

body {
  font-family: "Raleway", sans-serif;

  header {
    background: url('banner.jpg');
    background-position: center top;
    background-size: cover;
    height: 240px;

    nav {
      background-color: rgba(255, 255, 255, 0.8);
      font-variant: small-caps;
      font-size: x-large;
    }
  }

  footer {
    background-color: $grey;
    color: black;

    a {
      color: $yellow;
    }

    h3 {
      font-weight: bold;
    }
  }
}

#pageBreadcrumbs {
  a {
    color: black;
    font-variant: small-caps;
  }

  li:not(:last-child):hover span {
    text-decoration: underline;
  }

  li:last-child span {
    color: $grey;
    cursor: default;
  }
}

.dashboard {
  font-variant: all-small-caps;

  .jumbotron {
    background-color: rgba(165, 165, 165, 0.5);
    color: black;
  }

  .jumbotron:hover {
    cursor: pointer;
    background-color: $grey;
  }

  a {
    color: black;
  }
}

#disponibilites a {
  color: grey;
}

#publicPages a {
  color: black;
}

.bg-orange {
  background-color: $orange;
}

.bg-gris {
  background-color: $grey;
}

.bg-jaune {
  background-color: $yellow;
}

.bg-orange-trans {
  background-color: $orange-trans;
  color: black;
}

.bg-gris-trans {
  background-color: $grey-trans;
  color: black;
}

.bg-jaune-trans {
  background-color: $yellow-trans;
  color: black;
}

.card-img-top {
  width: 70%;
}

.card-big {
  width: 100% !important;
}

.card-noborder {
  border: none;
}

.card-text-black {
  color: black;
  text-align: center;
}

.text-size {
  font-size: 200%;
}

.img-left {
  width: 50%;
  float: left;
}

.ronds {
  text-align: center;
  vertical-align: center;
}

@media (min-width: 576px) {
  .card-img-top {
    width: 50%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-img-top {
    width: 40%;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-img-top {
    width: 60%;
  }

}