<h1>Vos coordonnées</h1>

<input type="text" class="form-control mb-2" placeholder="Adresse">
<input type="text" class="form-control mb-2" placeholder="NPA">
<input type="text" class="form-control mb-2" placeholder="Localité">
