<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each links}}
            <li class="breadcrumb-item"><span data-target="{{target}}">{{title}}</span></li>
        {{/each}}
    </ol>
</nav>

