<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#accueil"><img src="images/logo.png" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="menu" class="navbar-nav mr-auto">
            {{#each links}}
                <li class="nav-item">
                    <a class="nav-link" href="#{{target}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        <ul id="controls" class="navbar-nav align-self-end">
            <li class="nav-item">
                <a class="nav-link" href="#login">
                    <i class="fas fa-sign-in-alt"></i> Connexion
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#aide">
                    <i class="fas fa-question-circle"></i> Aide
                </a>
            </li>
        </ul>
    </div>
</nav>