<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#accueil"><img src="images/logo.png" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="menu" class="navbar-nav mr-auto">
            {{#each links}}
                <li class="nav-item">
                    <a class="nav-link" href="#{{target}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        <ul id="controls" class="navbar-nav align-self-end">
            {{# if logged}}
                <li class="nav-item">
                    <a class="nav-link" id="logout" href="#login" title="Déconnexion">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="d-md-none d-lg-inline">Deconnexion</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#{{dashboard}}" title="Mon compte">
                        <i class="fas fa-user-circle"></i>
                        <span class="d-md-none d-lg-inline">Mon compte</span>
                    </a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="#login" title="Connexion">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="d-md-none d-lg-inline">Connexion</span>
                    </a>
                </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link text-danger" href="#aide" title="Aide">
                    <i class="fas fa-question-circle"></i>
                    <span class="d-md-none d-lg-inline">Aide</span>
                </a>
            </li>
        </ul>
    </div>
</nav>