{% extends "base.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('jun-dashboard') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active" aria-current="page">Schéma d'intervention</li>
{% endblock %}

{% block content %}

<h1>Schema d'intervention</h1>
    <p>à définir</p>

{% endblock %}