{% extends "base.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
{% endblock %}

{% block content %}

    <div class="row dashboard">
        {% for link in dashboard %}
            <div class="col-md-4 p-md-2">
                <div class="jumbotron text-center">
                    <a href="{{ path(link.path) }}">
                        <h1 class="display-3"><i class="{{ link.icon }}"></i></h1>
                        <h1>{{ link.title }}</h1>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}