{% extends "base.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('adm-dashboard') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item"><a href="{{ path('adm-comptes') }}">Comptes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Prénom Nom</li>
{% endblock %}

{% block content %}

    <h1>Fiche du compte administrateur</h1>

    <ul>
        <li>(Photo)</li>
        <li>Coordonnées</li>
        <li>Rôle</li>
        <li>Champ libre commentaires</li>
    </ul>

{% endblock %}