{% extends "base.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('adm-dashboard') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active" aria-current="page">Formations</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Heure</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('adm-formation') }}">28374</a></td>
                    <th>Premiers secours</th>
                    <th>24.07.2018</th>
                    <th>14:00-17:00</th>
                </tr>
                <tr>
                    <td><a href="{{ path('adm-formation') }}">28374</a></td>
                    <th>Premiers secours</th>
                    <th>24.07.2018</th>
                    <th>14:00-17:00</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}