{% extends "base.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('adm-dashboard') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item"><a href="{{ path('adm-interventions') }}">Prestations</a></li>
    <li class="breadcrumb-item active" aria-current="page">N°</li>
{% endblock %}

{% block content %}

    <ul>
        <li>Statut | Date | Heure</li>
        <li>Actions (annuler, archiver, etc.)</li>
        <li>Description</li>
        <li>Champ libre commentaires</li>
    </ul>

    <div class="row">
        <div class="col-md-6">
            <h2>Senior</h2>
            <ul>
                <li>Nom, prénom, adresse</li>
                <li>Evaluation par smiley de la prestation</li>

            </ul>
        </div>
        <div class="col-md-6">
            <h2>Junior</h2>
            <ul>
                <li>Choix d'un junior à l'aide de localisation sur une carte</li>
                <li>Nom, prénom, adresse</li>
                <li>Evaluation par smiley de la prestation</li>
                <li>Rapport d'intervention</li>
            </ul>
        </div>
    </div>

{% endblock %}