<form class="mb-3">

    <!-- Nom et prénom -->
    <div class="form-row mb-2">
        <div class="col">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom" placeholder="Prénom">
        </div>
        <div class="col">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Nom">
        </div>
    </div>

    <!-- Email et téléphone -->
    <div class="form-row mb-2">
        <div class="col">
            <label for="email">Adresse email</label>
            <input type="email" class="form-control" id="email" placeholder="Adresse email">
        </div>
        <div class="col">
            <label for="telephone">Téléphone</label>
            <input type="text" class="form-control" id="telephone" placeholder="Téléphone">
        </div>
    </div>

    <!-- Fonction -->
    <div class="form-group mb-2">
        <label for="fonction">Fonction</label>
        <select id="fonction" class="custom-select">
            <option>-</option>
            <option>Secrétaire</option>
            <option>Direction</option>
            <option>Ressources humaines</option>
        </select>
    </div>

    <!-- Bouton "Enregistrer" -->
    <button type="button" class="btn" id="send">Enregistrer</button>
</form>