<h1>Nous contacter</h1>
<hr/>
<form class="mb-3">
    <input type="text" class="form-control mb-2" placeholder="Prénom" id="prenom">
    <input type="text" class="form-control mb-2" placeholder="Nom" id="nom">
    <input type="text" class="form-control mb-2" placeholder="Email" id="email">
    <textarea class="form-control mb-2" placeholder="Votre message" id="content"></textarea>
    <button type="submit" class="form-control btn" id="send">Envoyer</button>
</form>