<h1>Faire une suggestion</h1>

<form>
    <textarea class="form-control mb-2" placeholder="Description de votre demande"></textarea>
    <button type="submit" class="form-control btn mb-3">Envoyer la suggestion</button>
</form>

