<h1>Je postule pour être un Junior!</h1>

<form class="my-3" id="formPostulation">
    <input type="text" class="form-control mb-2" placeholder="Prénom" id="prenom">
    <input type="text" class="form-control mb-2" placeholder="Nom" id="nom">
    <input type="date" class="form-control mb-2" placeholder="Date de naissance" id="dateNaissance">
    <input type="text" class="form-control mb-2" placeholder="Adresse email" id="email">
    <textarea class="form-control mb-2" placeholder="Mon message" id="message"></textarea>
    <input type="file" class="form-control mb-2" id="file">
    <button type="submit" class="form-control btn" id="send">Postuler</button>
</form>