<h1>Créer un compte Senior</h1>

<div class="row">
    <div class="col-12">
        <input type="text" class="form-control mb-2" placeholder="Email" id="email">
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control mb-2" placeholder="Prénom" id="prenom">
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control mb-2" placeholder="Nom" id="nom">
    </div>
    <div class="col-12">
        <input type="text" class="form-control mb-2" placeholder="ligne 1" id="ligne1">
    </div>
    <div class="col-12">
        <input type="text" class="form-control mb-2" placeholder="ligne 2" id="ligne2">
    </div>
    <div class="col-12">
        <input type="text" class="form-control mb-2" placeholder="ligne 3" id="ligne3">
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control mb-2" placeholder="NPA" id="noNPA">
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control mb-2" placeholder="Localité" id="ville">
    </div>
    <div class="col-md-6">
        <div class="input-group mb-2 mr-sm-2">
            <input type="password" class="form-control" placeholder="Mot de passe" id="mdp">
            <div class="input-group-prepend">
                <div class="input-group-text" title="Voir"><i class="far fa-eye"></i></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group mb-2 mr-sm-2">
            <input type="password" class="form-control" placeholder="Répéter le mot de passe" id="mdp2">
            <div class="input-group-prepend">
                <div class="input-group-text" title="Voir"><i class="far fa-eye"></i></div>
            </div>
        </div>
    </div>
    <div class="col-12 my-3">
        <button type="submit" class="form-control btn" id="send">Enregistrer</button>
    </div>
</div>