<h1>Je postule pour être un Junior!</h1>
<hr/>
<div class="container">
    <form class="my-3" id="formPostulation" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control mb-2" placeholder="Prénom" id="prenom">
            </div>
            <div class="col-6">
                <input type="text" class="form-control mb-2" placeholder="Nom" id="nom">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control mb-2" placeholder="Email" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="password" class="form-control mb-2" placeholder="Mot de passe" id="motdepasse1">
            </div>
            <div class="col-6">
                <input type="password" class="form-control mb-2" placeholder="Répeter mode de passe" id="motdepasse2">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control mb-2" placeholder="Téléphone" id="telephone">
            </div>
            <div class="col-6">
                <input type="number" class="form-control mb-2" placeholder="Temps maximum du trajet des intérventions" id="limitetemps">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2 class="my-3">Adresse d'habitation</h2>
                <input type="text" class="form-control mb-2" placeholder="ligne 1" id="ligne1hab">
                <input type="text" class="form-control mb-2" placeholder="ligne 2" id="ligne2hab">
                <input type="text" class="form-control mb-2" placeholder="ligne 3" id="ligne3hab">
                <input type="text" class="form-control mb-2" placeholder="NPA" id="noNPAhab">
                <input type="text" class="form-control mb-2" placeholder="Localité" id="villehab">
            </div>
            <div class="col-6">
                <h2 class="my-3">Informations de paiement</h2>
                <input type="text" class="form-control mb-2" placeholder="N° AVS" id="noavs">
                <input type="text" class="form-control mb-2" placeholder="Nom de la Banque" id="banquenom">
                <input type="text" class="form-control mb-2" placeholder="N° BIC" id="banquebic">
                <input type="text" class="form-control mb-2" placeholder="N° IBAN" id="banqueiban">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2 class="my-3" >Adresse de départ (Localisation)*</h2>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="0" id="adresse1">
                    <label class="form-check-label" for="adresse1">
                        Même que l'adresse d'habitation
                    </label>
                    <div class="unchecked1">
                        <input type="text" class="form-control mb-2" placeholder="ligne 1" id="ligne1loc">
                        <input type="text" class="form-control mb-2" placeholder="ligne 2" id="ligne2loc">
                        <input type="text" class="form-control mb-2" placeholder="ligne 3" id="ligne3loc">
                        <input type="text" class="form-control mb-2" placeholder="NPA" id="noNPAloc">
                        <input type="text" class="form-control mb-2" placeholder="Localité" id="villeloc">
                    </div>
                    <div class="checked1">
                </div>


                </div>
            </div>
            <div class="col-6">
                <h2 class="my-3">Adresse de facturation*</h2>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="0"  id="adresse2">
                    <label class="form-check-label" for="adresse2">
                        Même que l'adresse d'habitation
                    </label>
                    <div class="unchecked2">
                        <input type="text" class="form-control mb-2" placeholder="ligne 1" id="ligne1fac">
                        <input type="text" class="form-control mb-2" placeholder="ligne 2" id="ligne2fac">
                        <input type="text" class="form-control mb-2" placeholder="ligne 3" id="ligne3fac">
                        <input type="text" class="form-control mb-2" placeholder="NPA" id="noNPAfac">
                        <input type="text" class="form-control mb-2" placeholder="Localité" id="villefac">
                    </div>
                    <div class="checked2">
                </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 my-4">
                <p>* les éléments signalés avec une étoiles sont facultatifs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3">Disponibilités</h2>
                <hr/>
            </div>
        </div>

        <div class="row mb-2">
                <div class="col-3">
                    <select class="form-control" id="exampleFormControlSelect1" >
                        <option>Choisir...</option>
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="time" class="form-control mb-2" placeholder="Début" id="heureDebut">
                </div>
                <div class="col-4">
                    <input type="time" class="form-control mb-2" placeholder="Fin" id="heureFin">
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-success fas fa-plus btn-green"></button>
                </div>

        </div>
        <div class="row" id="listDispo">
            <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Jour</th>
                    <th>Début</th>
                    <th>Fin</th>

                </tr>
                </thead>
            <tbody>
            <tr>
                <td>
                    <div class="col-1">
                        <button style="" type="button" class="btn btn-danger fas fa-minus btn-red"></button>
                        <style>
                            .btn-red {
                                background-color:red !important;
                            }
                            .btn-green {
                                background-color:forestgreen !important;
                            }
                        </style>
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>

                </td>
            </tr>
            </tbody>
            </table>
            </div>
        </div>
        <input type="file" class="form-control my-4" id="cvFile">
        <button type="submit" class="form-control btn" id="send">Postuler</button>

    </form>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Succès</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Merci pour votre inscription !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Erreur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Une erreur est survenue durant l'inscription. Veuillez contrôler les informations.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>