
<div class="row">
    <div class="col-auto m-auto text-center">
        <h1 class="my-3">Connexion à votre espace personnel</h1>
        <input type="text" class="form-control mb-2" id="email" placeholder="Email">
        <input type="password" class="form-control mb-2" id="password" placeholder="Mot de passe">
        <button type="button" class="form-control btn" id="login">Connexion</button>
    </div>
</div>

<!--<p class="text-info mt-3">Cette page redirige sur le bon type de compte:
    <a href="#juniors" class="btn mx-2">Juniors</a>
    <a href="#seniors" class="btn mx-2">Seniors</a>
    <a href="#admin" class="btn mx-2">Administration</a>
</p>