<h1>Nouvelle demande d'intervention</h1>

<form>
    <textarea class="form-control mb-2" placeholder="Description de votre demande" id="content"></textarea>
    <button type="submit" class="form-control btn mb-3">Envoyer la demande</button>
</form>