<div class="row">
    <div class="col-md-6">
        <h1>Informations de contact</h1>
        <hr/>
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Generation Connect</li>
                <li class="list-group-item">Rue de Langallerie 1</li>
                <li class="list-group-item">1003 Lausanne</li>
                <li class="list-group-item">+41 21 111 11 11</li>
                <li class="list-group-item">info@generation-connect.ch</li>
            </ul>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.3662139029984!2d6.635264215593169!3d46.52065467912767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c2e343ec18e35%3A0x92af983e94a876b1!2sRue+de+Langallerie+1%2C+1003+Lausanne!5e0!3m2!1sfr!2sch!4v1528975514534"
                frameborder="0" style="border:0" allowfullscreen class="w-100 mb-3" height="300"></iframe>
    </div>
    <div class="col-md-6">
        <h1>Nous contacter</h1>
        <hr/>
        <form class="mb-3" id="formContact">
            <input type="text" class="form-control mb-2" placeholder="Prénom" id="prenom">
            <input type="text" class="form-control mb-2" placeholder="Nom" id="nom">
            <input type="text" class="form-control mb-2" placeholder="Email" id="email">
            <textarea class="form-control mb-2" placeholder="Votre message" id="content"></textarea>
            <button type="submit" class="form-control btn" id="send">Envoyer</button>
        </form>
    </div>
</div>