<h1>Nouvelle formation</h1>

<form>
    <textarea class="form-control mb-2" placeholder="Description de la formation"></textarea>
    <button type="button" class="form-control btn mb-3">Enregistrer</button>
</form>
$