<div class="row">

    <div class="col-md-6">

        <h1>Nos services</h1>

        <h2>Installations & mises à jour</h2>
        <ul>
            <li>Télévision digitale (installation ou dépannage Swisscom box)</li>
            <li>Téléphonie digitale (installation routeur,etc.)</li>
            <li>Connexion Internet par Routeur DSL</li>
            <li>Radio : DAB+ remplace bande FM</li>
            <li>PC (Windows, Mac, Linux)</li>
            <li>Smartphones & leurs applications, mises à jour</li>
            <li>Robot ménagers (aspirateurs, etc.)</li>
            <li>Installations de sécurité (Robots d’accompagnement, Robots de soins)</li>
        </ul>

        <h2>Utilisation</h2>
        <ul>
            <li>Communication par l’image, comme avec Skype, afin de maintenir des liens visuels</li>
            <li>Messagerie : envoyer un document, photos</li>
            <li>Services en ligne : faire avec, créer les comptes, mettre en place et former</li>
            <li>Créer un album photo ou imprimer des jeux ou autres activités, imprimer des photos, etc.</li>
        </ul>

    </div>

    <div class="col-md-6">

        <div class="col-12">
            <img class="img-fluid" src="images/prestations.png" alt="Prestations">
        </div>

        <div class="col-12">
            <img class="img-fluid" src="images/agents.png" alt="Agents">
        </div>
    </div>
</div>