<div class="row">
    <div class="col-md-4">
        <h2>Vous êtes étudiant ou apprenti</h2>
        <p>Vous avez…</p>
        <ul>
            <li>Des connaissances et compétences au niveau de la technologie</li>
            <li>Des disponibilités en dehors de votre formation</li>
            <li>Le souhait de transmettre votre savoir aux Seniors et de le mettre au service des personnes qui ont
                besoin
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Nous vous proposons…</h2>
        <ul>
            <li>Une formation aux compétences sociales</li>
            <li>Une formation aux services «Les Juniors au service des Seniors»</li>
            <li>Une activité adaptée à vos disponibilités</li>
            <li>Une activité rémunérée</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Les pré-requis pour postuler</h2>
        <ul>
            <li>Etre majeur - Casier judiciaire vierge</li>
            <li>Connaissances et compétences pour les services proposés</li>
            <li>Un intérêt pour valoriser vos connaissances auprès d’autres générations</li>
        </ul>
    </div>
</div>

<span data-target="postuler" class="btn w-100 mb-3">Je postule!</span>