    <h1>Connexion à votre espace personnel</h1>

    <input type="text" class="form-control mb-2" placeholder="Email">
    <input type="password" class="form-control mb-2" placeholder="Mot de passe">
    <button type="submit" class="form-control btn">Connexion</button>

    <p class="text-info mt-3">Cette page redirige sur le bon type de compte:
        <span data-target="juniors" class="btn mx-2">Juniors</span>
        <span data-target="seniors" class="btn mx-2">Seniors</span>
        <span data-target="admin" class="btn mx-2">Administration</span>
    </p>