<div class="row">
    <div class="col-md-4">
        <h2>Service individualisé</h2>
        <p>Contact téléphonique avec notre centrale</p>
    </div>

    <div class="col-md-4">
        <h2>Service sécurisé</h2>
        <p>Les Juniors intervenants sont identifiés</p>
        <p>Les visites sont annoncées</p>
    </div>

    <div class="col-md-4">
        <h2>Service optimum</h2>
        <p>Evaluation de chaque prestation</p>
        <p>Amélioration continue de nos services</p>
    </div>
</div>
<div class="row">
    <img src="images/offres.png" class="img-fluid" alt="Responsive image">
</div>

<span data-target="inscription" class="btn w-100 mb-3">Inscription</span>
