<h1>Fiche de la formation</h1>

<ul>
    <li>{{nom}}</li>
    <li>Description</li>
    <li>Lieu</li>
    <li>Date</li>
    <li>Participants avec <stat></stat>ut (en attente de confirmation, confirmé, etc.)</li>
</ul>
