<h1>Fiche de l'agent</h1>

<ul>
    <li>Photo</li>
    <li>Adresse</li>
    <li>Disponibilité</li>
    <li>Prestations en cours de traitement</li>
    <li>Prestations archivées</li>
    <li>Formations effectuées</li>
    <li>Champ libre commentaires</li>
</ul>