<p>En fonction du statut de l'intervention</p>
<ul class="mb-3">
    <li>Date | Heure</li>
    <li>Actions (annuler, etc.)</li>
    <li>Nom, prénom, photo du Junior</li>
    <li>Description</li>
    <li>Evaluation par smiley de l'intervention</li>
</ul>
